{% if schema.properties -%}

| Field | Type | Description |
|-------|------|-------------|
{% for property_name, property in schema.properties.items() -%}
| {{ property_name }}| {{ ref_to_link(property, prefix) if property['$ref'] }} {{ref_to_type(property, prefix)}} | {{ property.description if property.description else '' }} |
{% endfor -%}
{% endif -%}
